<!--  Replace menu links here -->

<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/index.html">Головна</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/categories.html">Розділи</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/tags.html">Теги</a>
</li>
<li class="nav-item">
<a target="_blank" class="nav-link" href="https://t.me/+Ol2q2MUWsSYzMDcy"><i class="fa fa-telegram text-info" aria-hidden="true"></i> Телеграм</a>
</li>
<li class="nav-item">
<a target="_blank" class="nav-link" href="https://t.me/PSY_aibot?start=ref--remontmentalky.txthivehub.com"><i class="fa fa-comments text-danger" aria-hidden="true"></i> Консультація</a>
</li>

